general {
    col.active_border = rgb({{base0D-hex-r}}{{base0D-hex-g}}{{base0D-hex-b}})
    col.inactive_border = rgb({{base00-hex-r}}{{base00-hex-g}}{{base00-hex-b}})
}

decoration {
    col.shadow = rgb({{base03-hex-r}}{{base03-hex-g}}{{base03-hex-b}})
}
