snippet class
        class ${1}
        {
        public:
          using type = ${1};
          $0
        };

snippet pragma
        #pragma $0

snippet once
        #pragma once
        $0

snippet lambda
        auto ${1} = [${2}](${3}) { $0 };

snippet inline
        [${1}](${2}) { $0 }

snippet clang-format
        // clang-format off
        $0
        // clang-format on
