snippet module-program
		{
		  config,
		  lib,
		  pkgs,
		  ...
		}:
		with lib; let
		  cfg = config.programs.$1;
		in {
		  options.programs.$1 = {
            enable = mkEnableOption "Enable $1";
		  };

		  config = mkIf cfg.enable {
            ${0:${VISUAL}}
		  };
		}

snippet systemd
		systemd.user.services.$1 = {
		  description = "$2";
		  wantedBy = ["$3"];
		  partOf = ["$4"];
		  serviceConfig = {
			ExecStart = "$5";
			Restart = "${6:always}";
		  };
		};
