gui:
  theme:
    activeBorderColor:
      - '#{{base0D-hex}}'
      - bold
    inactiveBorderColor:
      - '#{{base05-hex}}'
    optionsTextColor:
      - '#{{base05-hex}}'
    selectedLineBgColor:
      - '#{{base01-hex}}'
    selectedRangeBgColor:
      - '#{{base02-hex}}'
    cherryPickedCommitBgColor:
      - default
    cherryPickedCommitFgColor:
      - bold
    unstagedChangesColor:
      - '#{{base08-hex}}'
    defaultFgColor:
      - default
